<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo de Perguntas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div>
        <div>
            <h1>Jogo de Perguntas</h1>
        </div>
        <div>
            <div>Menu</div>
            <div>
                <ul>
                    <li>Jogo</li>
                    <ul>
                        <li>
                            <a href="/jogo">Começar a Jogar</a>
                        </li>
                        <li>
                            <a href="/resetar">Reiniciar Pontuação</a>
                        </li>
                    </ul>
                    <li>Administração</li>
                    <ul>
                        <li>
                            <a href="/admin/nova">Cadastrar nova questão</a>
                        </li>
                        <li>
                            <a href="/admin">Listar todas as questões</a>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
    
    <footer style="margin-top: 50px;">
        <p>&copy; 2026 - Jogo de Perguntas | Guilherme Silva Caetano</p>
    </footer>
</body>
</html>
